body {
  padding-bottom: 5rem;
}
header {
  background: url(../images/heroimage2.jpg) center / cover;
  height: 60vh;
  justify-content: center;
  text-align: left;
}
h1 {
  color: rgba(17, 65, 104, 0.9);
  font-weight: bold;
  margin-left: 10px;
}
.slogan {
  color: rgba(17, 65, 104, 0.7);
  font-weight: lighter;
  font-size: 1.6rem;
  margin-left: 10px;
  margin-top: 0;
}
main {
  max-width: 900px;
}
.project-description {
  padding-left: 0;
}
.project img {
  width: 100%;
}
footer.mdl-mini-footer {
  bottom: 0;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}
footer.mdl-mini-footer > ul {
  margin: auto;
  font-size: 3rem;
}
@media screen and (max-width: 1024px) {
  header.mdl-layout__header {
    display: flex;
  }
}
